.running-person {
  margin-top: -8px;
  position:static;
  width: 100px;
  height: 20px; 
  overflow: hidden;
  clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%);
  animation: run-animation 10s linear infinite;
}

@keyframes run-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
