#signup-component-container {
  display: none;
  height: 400px; /* Set a fixed height for the container */
  overflow-y: auto; /* Allow vertical overflow */
}

#signup-extended-container {
  height: 100px;
  width: 100px;


}



.button {
  border: 10px;
  background-color: #a2d5ac;
  margin-top: 5px;
  margin-left: 5%;
  margin-right: 5%;
}

